*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
  padding-top: 25%;
  padding-bottom: 25%;
  padding-left: 20%;
  padding-right: 20%;
}
.card{
  border-radius: 10px;
  width: 300px;
  border: 1px solid lightgray;
}
.card-image{
  object-fit: contain;
  object-position: center;
  overflow: hidden;
}
.mobile{
  height: 250px;
  width: 300px;
  border-top-right-radius: 10px;
  border-top-left-radius:10px ;
}
.attribution{
  font-size: 16px; 
  text-align: center; 
  position: relative;
  bottom: -50px;
  font-family: Montserrat;
  width: 280px;
}
.attribution a { 
  color: black;
  text-decoration: none;
 }
.card-description{
  padding: 20px;
  background-color: white;
  margin-top: -3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.product{
  font-family: Montserrat;
  color: hsl(228, 12%, 48%);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}
.product-name{
  font-family: Fraunces;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 15px;
  color: black;
}
.about{
  font-family: Montserrat;
  color: hsl(228, 12%, 48%);
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}
.price{
  display: flex;
  margin-bottom: 15px;
}
.price-tag{
  color: hsl(158, 36%, 37%);
  font-family: Fraunces;
  font-size: 30px;
  font-weight: bold;
}
.formal-price{
  align-self: center;
  margin-left: 15px;
  font-family: Fraunces;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
}
.cart-button{
  text-align: center;
  display: flex;
  margin-bottom: 15px;
}
.image{
  margin-right: 10px;
}
.cart{
  background-color: hsl(158, 36%, 37%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: all ease-in 0.15s;
}
.cart:hover{
  background-color: hsl(158, 40%, 16%);
}
@media (min-width:715px) {
  .card{
    border-radius: 10px;
    width: 600px;
    display: flex;
    border: 1px solid lightgray;
  }
  .card-image{
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    width: 55%;
  }
  .mobile{
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    border-top-right-radius: 0px;
    object-fit: cover;
  }
  .card-description{
    padding: 30px;
    background-color: white;
    margin-top: -3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 45%;
  }
  .product-name{
    font-family: Fraunces;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    color: black;
    width: 200px;
    margin-top: 5px;
  }
  .about{
    font-family: Montserrat;
    color: hsl(228, 12%, 48%);
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .price{
    display: flex;
    margin-bottom: 45px;
  }
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    padding: 0;
  }
}